/* CSS declarations go here */
#login-screen{
    display: block;
    margin: 15px auto;
    width: 260px;
    height: 240px;
}

.logo {
	max-width: 577px;
	margin: 5px auto;
}
img {
  max-width: 100%;
}


/*#login-logo{
	display: block;
	margin: 5px auto;
	width: 577px;
	height: 344px;
    }*/
/*
body {
    background-color: lightblue;
    }*/

    #bluebar {
        border: 0;
        width: auto;
        height: auto;
        background-image: url("img/Title-Bar.png" );
    }


    #footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 70px;
        width: auto;
        
    }

    .sub-nav-footer {
        background-color: black;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 110px;
        width: auto;
    }

    .sub-nav-footer ul {
      align-items: center;
      display:     flex;
      padding-left:     15px;
      padding-right: 15px;
  }

  .sub-nav-footer ul li {
    align: center;
    flex: 1;
}

.sub-nav-footer ul li img{
    width:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

