.c3-ygrid-line line {
    stroke: red;
}
.c3-ygrid-line.grid800 line {
    stroke: green;
}

.c3-line {
  stroke-width: 3px;
}

.c3-text {
	font: 18px sans-serif;
}

.c3-axis {
	font: 18px sans-serif;
}