.c3-ygrid-line line {
    stroke: red;
}
.c3-ygrid-line.grid800 line {
    stroke: green;
}

.c3-line {
  stroke-width: 3px;
}

.c3-text {
	font: 18px sans-serif;
}

.c3-axis {
	font: 14px sans-serif;
}

.c3-region.regionY1{
  fill: yellow;
}
.c3-region.regionY2{
  fill: #ff0000;
}
.c3-region.regionY3{
  fill: green;
}